<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/reader">Reader</a>
            <a href="/author">Author</a>
        </div>
    </div>
  <div class="centered">
    <button class="button" onclick="location.href='/reader'">Reader Portal</button>
    <button class="button" onclick="location.href='/author'">Author Portal</button>
  </div>
</body>
</html>