<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-links">
            <a href="/">Home</a>
        </div>
    </div>
    <div class="center-form">
        <div class="form-container">
            <h1>Register</h1>
            <form action="/register" method="POST">
                <input type="text" id="email" name="email" placeholder="Email" class="form-input" required>
                <input type="text" id="full_name" name="full_name" placeholder="Full Name" class="form-input" required>
                <input type="password" id="password" name="password" placeholder="Password" class="form-input" required>
                <button type="submit" class="form-button">Register</button>
            </form>
            <p>Already have an account? <a href="/login">Login here</a></p>
            <% if (message) { %>
                <p class="error-message"><%= message %></p>
              <% } %>
        </div>
    </div>
</body>
</html>